#board{
	overflow:hidden;
}
.stack {
	position:relative;
	width:50px;
	height:400px;
	margin:0px 0px 20px 0px;
	float:left;
	background:#d0d0d0;
}
.chip{
	width:50px;
	height:50px;
	background:#ff0000;
	float:left;
	position:absolute;
	
}
.chip.black {background:#000000;}
